.header {
    background-color: #000;

    &__content {
        background: url('../img/main_bg.jpg') no-repeat center;
        height: 1490px;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
    }

    &__item {
        text-align: center;
        width: 30%;
    }

    &__title {
        font-size: 30px;
        color: #f7f4f1;
        line-height: 1;
        margin-bottom: 10px;
    }

    &__img {
        width: 30px;
    }

    &__sup {
        font-size: 14px;
        color: #f7f4f1;
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
        display: flex;
        padding-left: 0;
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        padding: 25px 17px;
        color: #fff;
        text-decoration: none;
    }
}
